In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings
import pandas_profiling as ppf

from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error


test = pd.read_csv("dataset/test.csv")
train = pd.read_csv("dataset/train.csv")

### EDA

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
profile = ppf.ProfileReport(train)
profile.to_file(output_file="output.html")

### Data Preprocessing
#### Missing Values and Drop Unnecessary Cols
`Age` has 19.9% missing value, use mean to fill in the missing value.

In [2]:
train['Age'] = train.Age.fillna(np.mean(train.Age))
test['Age'] = test.Age.fillna(np.mean(test.Age))
train['Fare'] = train.Fare.fillna(np.mean(train.Fare))
test['Fare'] = test.Fare.fillna(np.mean(test.Fare))
train.drop(['Name','Cabin','Ticket','Embarked'],axis = 1, inplace = True)
test.drop(['Name','Cabin','Ticket','Embarked'],axis = 1, inplace = True)

In [3]:
test.Fare.isnull().sum() # double check how many missing values

0

#### Encode `gender` variable
`gender` is categorical variable and we want to convert it into numerical data.

In [4]:
lab = LabelEncoder()
train.Sex = lab.fit_transform(train.Sex)
test.Sex = lab.fit_transform(test.Sex)

#### Normalize Some of the Variables
Nornalize `Age`, `Fare`  by MinMaxScaler

In [5]:
minmax = MinMaxScaler()
train.Age = minmax.fit_transform(np.array(train.Age).reshape(-1,1))
test.Age = minmax.fit_transform(np.array(test.Age).reshape(-1,1))
train.Fare = minmax.fit_transform(np.array(train.Fare).reshape(-1,1))
test.Fare = minmax.fit_transform(np.array(test.Fare).reshape(-1,1))

In [6]:
test.head()

   PassengerId  Pclass  Sex       Age  SibSp  Parch      Fare
0          892       3    1  0.452723      0      0  0.015282
1          893       3    0  0.617566      1      0  0.013663
2          894       2    1  0.815377      0      0  0.018909
3          895       3    1  0.353818      0      0  0.016908
4          896       3    0  0.287881      1      1  0.023984

In [7]:
train.head()

   PassengerId  Survived  Pclass  Sex       Age  SibSp  Parch      Fare
0            1         0       3    1  0.271174      1      0  0.014151
1            2         1       1    0  0.472229      1      0  0.139136
2            3         1       3    0  0.321438      0      0  0.015469
3            4         1       1    0  0.434531      1      0  0.103644
4            5         0       3    1  0.434531      0      0  0.015713

In [8]:
x = train.drop('Survived',axis = 1)
y = train.Survived

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3, random_state = 0)

In [10]:
x_train.shape, y_train.shape

((623, 7), (623,))

### Model
Use linear regression here.

In [11]:
lin = LinearRegression()
lin.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [12]:
y_pred = lin.predict(x_test)

In [13]:
mae = mean_absolute_error(y_pred,y_test)
mae

0.2931077454852208

In [14]:
prediction = lin.predict(test)
prediction

array([ 0.0760432 ,  0.4685533 ,  0.06589668,  0.12325543,  0.60638514,
        0.20474355,  0.6234152 ,  0.22995302,  0.69825173,  0.07044634,
        0.10243415,  0.33364852,  0.97182524,  0.01799975,  0.81300957,
        0.78186582,  0.2357001 ,  0.16007643,  0.59385596,  0.52939502,
        0.24286039,  0.21274993,  0.95362144,  0.48393795,  0.8284797 ,
       -0.0665964 ,  0.99727959,  0.15063594,  0.36666849,  0.01132595,
        0.09915861,  0.2156135 ,  0.52025904,  0.53849822,  0.39836769,
        0.17559205,  0.62169554,  0.67990965,  0.13588394,  0.12246205,
        0.02935139,  0.43200337,  0.03515153,  0.78641782,  0.82173626,
        0.13518444,  0.34121621,  0.10213842,  0.78617342,  0.54781276,
        0.43670956,  0.28660404,  0.7356821 ,  0.87749207,  0.26635408,
        0.02363697,  0.07258942,  0.13499382,  0.05718127,  1.01352453,
        0.18508738,  0.25464633,  0.17876273,  0.67310325,  0.49992918,
        0.78790109,  0.69815352,  0.33386196,  0.42811113,  0.73280753,
        0.66056657,  0.16001229,  0.62937015,  0.44336795,  0.99852221,
        0.49478163,  0.10207891,  0.69948533,  0.26683296,  0.66050939,
        0.18779087,  0.23498878,  0.31444348,  0.1019703 ,  0.2641377 ,
        0.05632524,  0.64176474,  0.69809111,  0.62124036,  0.37696782,
        0.62713988,  0.10186923,  0.892463  ,  0.10197089,  0.4643984 ,
        0.134813  ,  0.63855169,  0.10984883,  0.68543719,  0.08488292,
        0.8350839 ,  0.24248734,  0.10178894,  0.12850222,  0.64168929,
        0.12212127,  0.1597587 ,  0.10175717,  0.10215111,  0.33852592,
        0.19871617,  0.62110636,  0.91724412,  0.6944814 ,  0.77914676,
        0.13285425,  0.10115413,  0.73877951,  0.41596066,  0.74923284,
        0.89959563,  0.0533083 ,  0.8859145 ,  0.1156542 ,  0.10164915,
        0.68681828,  0.15336992,  0.53071899,  0.19149967,  0.14095398,
        0.09093724,  0.29016666,  0.54580665,  0.05268619,  0.0220834 ,
        0.14083443,  0.12493815,  0.29146326,  0.66651056, -0.11511645,
        0.48086126,  0.98566659,  0.22710056,  0.28432909,  0.35803736,
       -0.04384844,  0.44186336,  0.15334221,  0.43132348,  0.20279787,
        0.99904852,  0.10153823, -0.07589554,  0.5456062 , -0.01543561,
        0.14058083,  1.03978396,  0.6663084 ,  0.3579484 ,  0.60874304,
        0.62077592,  0.18102489,  0.81087482,  0.10108942,  0.19752222,
        0.58440665,  0.33034855,  0.05118759,  0.95104579,  0.67294438,
        0.10127368,  0.12159011,  0.10100508,  0.1011212 , -0.10115974,
        0.8489005 ,  0.85796306,  0.24646788,  0.69697359,  0.72193042,
        0.26618484,  0.34361098,  0.98987145,  0.10127426,  0.99382378,
        0.20488775,  0.8244674 ,  0.0876247 ,  0.21816636,  0.20361467,
        0.19816274,  0.43082152,  0.15238689,  0.07204165,  0.37047313,
        0.08419149,  0.58638767,  0.69727779,  0.30878984,  0.62068582,
        0.62375184,  0.24984447,  0.36163552,  0.85934579,  0.29624912,
        0.43062514,  0.59093813,  0.30248135,  0.93374177,  0.13413022,
        0.09644889,  0.10080522,  0.37240963,  0.55484529,  0.33744298,
        0.36421963,  0.62048077,  0.2523378 ,  0.83484724,  0.10117028,
        0.73729019,  0.1591233 ,  0.83425111,  0.15900487,  0.80849976,
        0.58222611,  0.14648321,  0.62035714,  0.04011051,  0.2283657 ,
        0.3875141 ,  1.00812429,  0.11004712,  0.10101028,  0.34646351,
        0.16520421,  0.19181804,  0.16492983,  0.79120386,  0.82414754,
        0.79600987,  0.65719917,  0.31456539,  0.1009502 ,  0.01779503,
        0.32581414,  0.83846543,  0.12986286,  0.74841316,  0.57464563,
        0.88340357,  0.16513199,  0.44860369,  0.14069633,  0.08762672,
        0.10073358,  0.10081041,  0.11513546,  0.85381597,  0.15876747,
        0.017509  ,  0.1587877 ,  0.7541753 ,  0.73597337,  0.26554193,
        0.10081386,  0.41953187,  0.10065733,  0.62022139,  0.18407823,
        0.35248184,  0.1007151 ,  0.97409037,  0.57492807,  0.10047769,
        0.80450329,  0.27703773,  0.16010214,  0.22052933,  0.31452646,
        0.66586301,  0.21872132,  0.62000767,  0.68710955,  0.73292788,
        0.06461445,  0.10041184,  0.44446409,  0.10039048,  0.10072549,
        0.43584854,  0.62132181,  0.10036506,  0.24233788,  0.06549301,
        0.12733247,  0.88836258,  0.00962305,  0.43995549,  0.10853586,
        0.08974267,  0.26456278,  0.16683929,  0.1401031 ,  0.61986788,
        0.66985775,  0.39438852,  0.26457562,  0.23458162,  0.48205509,
        0.17756641,  0.15195702,  0.1003818 ,  0.57775564,  0.84041919,
        0.70276196,  0.26470948,  0.3330389 ,  0.12091773,  0.22628611,
        0.12712338,  0.13314133,  0.29028775,  0.41316166,  0.9718609 ,
        0.14554399,  0.79060567,  0.35376587,  0.22854236,  0.32149977,
        0.64068701,  0.37691308,  0.10010915,  0.6244851 ,  0.12083336,
        0.43161057,  0.252691  ,  0.00426033,  0.30413132,  0.10006642,
        0.33914405,  0.08940072, -0.10806925,  0.95751379,  0.034068  ,
        0.708788  ,  0.29013526,  0.57107171,  0.30283309,  0.78154927,
        0.85201454,  0.29531506,  0.36526875,  0.07831602,  0.72344316,
        0.30645751,  0.6834286 ,  0.10022237,  0.10016229,  0.57610645,
       -0.20368984,  0.76289758,  0.78146667,  0.12096796,  0.9459298 ,
        0.41114707,  0.05454144,  0.68446443,  0.85025396,  0.27159217,
        0.2722555 ,  0.98961685,  0.3017877 ,  0.17744032,  0.75493437,
        0.95525494,  0.57478448,  0.32057094,  0.28503619,  0.03314511,
        0.1000225 ,  0.12677912,  0.6221795 ,  0.64494698,  0.26313258,
        0.75375762,  0.13920661,  0.09608448,  0.1579374 ,  0.09153191,
        0.50309263,  0.80428226,  0.17185982,  0.15751962, -0.05188464,
        0.99138765,  0.13892472,  0.79119046,  0.15163295,  0.09534757,
        1.00831303,  0.16973738,  0.99381779,  0.52122061,  0.302261  ,
        0.32762686,  0.25910827,  0.31428385,  0.6191949 ,  0.72320504,
        0.61919434,  0.88498795,  0.63339867,  0.09993758,  0.9286865 ,
        0.04816016,  0.09991852,  0.03687232])

In [15]:
submission = pd.DataFrame({'PassengerId':test.PassengerId, 'Survived':prediction})
submission.to_csv('submission_1.csv',index = False)